<h3 class="text-center">Log in</h3>
<div class="col-sm-3"></div>
<div class="col-sm-6">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),defaults: { input_html: { class: 'form-horizontal' } },:validate => true) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: false, autofocus: false %>
      <%= f.input :password, required: false %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions text-center m-b-sm">
      <%= f.button :submit, "Log in" %>
    </div>
  <% end %>
  <div class="text-center">
    <%= render "users/shared/links" %>
  </div><br><br><br><br><hr>
</div>
<div class="col-sm-3"></div>
<div class="col-sm-12">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h3><div class="text-center">Do you find anything amazing or Helpful while internet surfing ?</div><br><div class="text-center">And want to save that link instantly ? </div><div class="text-center"> <br> Then do it now</div><br><div class="text-center">Here</div></h3>
  </div>
  <div class="col-sm-2"></div>
</div>